.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    width: 300px;
    background-color: grey;
}

.first-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.second-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    font-size: 20px;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

button:hover {
    background-color: #c49898;
}
